<%- include("partials/header.ejs") %>

<h1><%= campground.title %></h1>

<img src="<%= campground.img %>" alt="image">
<p><%= campground.description %></p>
<div>
    <% campground.comments.forEach(function(comment){ %>
       <p><%= comment.author %>: </p>
       <p> <%=comment.text %></p>

   <% }); %>
</div>
<%- include("partials/footer.ejs") %>